@import 'tailwindcss';
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@font-face {
  font-family: 'CircularStdBook';
  src: url('../fonts/CircularStd-Book.eot');
  src:
    url('../fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Book.woff') format('woff'),
    url('../fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStdBold';
  src: url('../fonts/CircularStd-Bold.eot');
  src:
    url('../fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Bold.woff') format('woff'),
    url('../fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStdBlack';
  src: url('../fonts/CircularStd-Black.eot');
  src:
    url('../fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/CircularStd-Black.woff') format('woff'),
    url('../fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  :root {
    --dark: oklch(20% 0.01 240);
    --background: oklch(98% 0.01 240);
    --background-muted: oklch(95% 0.01 240);
    --background-surface: oklch(92% 0.01 240);
    --foreground: oklch(20% 0.01 240);
    --foreground-muted: oklch(40% 0.01 240);
    --foreground-subtle: oklch(60% 0.01 240);
    --font-sans: 'CircularStdBook', sans-serif;
    --font-sans-bold: 'CircularStdBold', sans-serif;
    --font-sans-black: 'CircularStdBlack', sans-serif;
    --primary-color: #8e84d8;
    --secondary-color: #5f45a3;

    --text-xs: 0.68rem;
    --text-sm: 0.75rem;
    --text-base: 0.875rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
  }

  .dark {
    --background: oklch(21.711% 0.00251 248.17);
    --background-muted: oklch(30% 0.01 240);
    --background-surface: oklch(31.553% 0.00336 229.306);
    --foreground: oklch(98% 0.01 240);
    --foreground-muted: oklch(80% 0.01 240);
    --foreground-subtle: oklch(60% 0.01 240);
    --primary-color: #5f45a3;
    --secondary-color: #8e84d8;
  }

  *:not(body),
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    font-family: var(--font-sans);
    color: var(--foreground);
    background-color: var(--background-surface);
    @apply flex text-base h-full w-full m-0;
  }

  [v-cloak] {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: var(--foreground);
    font-family: var(--font-sans-bold);
    @apply mb-0;
  }

  a {
    color: var(--foreground);
    font-weight: normal;
    text-decoration: none;
  }

  a.router-link-exact-active {
    color: var(--primary-color);
  }
}

@layer utilities {
  .wst {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .text-primary {
    color: var(--primary-color);
  }

  .text-secondary {
    color: var(--secondary-color);
  }

  .hide-on-mobile {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .highlight {
    color: #8e84d8;
  }

  .show-on-mobile {
    display: none;
    @media (max-width: 768px) {
      display: flex;
    }
  }

  .layered-bg {
    background: #000;
    position: relative;
    overflow: hidden;
    z-index: 0;
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.3);
      background: linear-gradient(to bottom right, #002f4b, #ffffff);
      opacity: 0.5;
    }
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.2;
      background: url('../images/bg_setup.png') no-repeat center;
      background-repeat: no-repeat;
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
    }
    & > div {
      position: relative;
      z-index: 10;
    }
    &:hover {
      &:after {
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        transform: scale(1.2);
      }
    }
  }

  .banner-img {
    display: relative;
  }

  .banner-img:before {
    background: transparent;
    opacity: 0.5;
  }

  .banner-img:after {
    content: ' ';
    z-index: 1;
    opacity: 0.9;
    background: url('../images/banner.jpg') no-repeat center;
    background-repeat: no-repeat;
    background-position: 0 53%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .banner-img:hover:after {
    transform: unset;
  }

  .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    @media (max-width: 768px) {
      overflow: auto;
    }
    .wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      @media (max-width: 768px) {
        height: auto;
      }
    }
    .lightbox {
      z-index: 30;
    }
    .lightbox__image img {
      width: auto;
      height: auto !important;
      max-width: 100%;
      max-height: calc(100vh - 140px);
    }
  }

  ul.timeline {
    margin: 0;
    list-style: none;
    position: relative;
    padding-left: 55px;
    font-size: 13px;
    margin-bottom: 20px;
    &:before {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      border-left: 1px dashed #c0c0c0;
    }
    li {
      position: relative;
      padding: 0px 14px;
      width: 100%;
      &:not(:first-child) {
        margin-top: 32px;
      }
      > span {
        width: 1px;
        height: 100%;
        background: #c0c0c0;
        left: 0;
        top: 0;
        position: absolute;
        &:before,
        &:after {
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 3px solid #fff;
          position: absolute;
          background: var(--primary-color);
          left: -5px;
          top: 0;
        }
      }
      span:after {
        top: 100%;
        > div {
          margin-left: 10px;
        }
      }
      span.timestamp {
        height: 100%;
        span {
          position: absolute;
          font-size: 10px;
          left: -55px;
          margin-top: -3px;
          &:first-child {
            top: 0;
          }
          &:last-child {
            top: 100%;
          }
        }
      }
      div.content {
        box-shadow:
          0 0 4px rgba(0, 0, 0, 0.12),
          0 2px 2px rgba(0, 0, 0, 0.08);
        width: 100%;
        height: 100%;
        padding: 20px;
      }
    }
  }

  h3.no-content {
    text-align: center;
    padding: 20px 0;
  }
}
