.profile-con {
  padding: 20px 0px;
  z-index: 10;
  position: relative;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  text-align: center;
  img.avatar {
    width: 50px;
    height: 50px;
    // border-radius: 50%;
    // float: left;
    box-shadow: 0px 3px 17px -6px rgba(0, 0, 0, 0.61);
    z-index: 19;

    &.pair {
      z-index: 20;
      margin-left: -20px;
    }
  }
  .pair-avatar {
    text-align: center;
    &:hover {
      .pair {
        margin-left: -3px;
      }
    }
  }
  .name {
    line-height: 3.5em;
  }
  .position {
    text-transform: uppercase;
    font-size: 10px;
  }
  .social-icons {
    padding: 10px;
    a {
      color: #fff;
      margin-right: 10px;
      .fa {
        font-size: 16px;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}
