@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CircularStdBook';
  src: url('../assets/fonts/CircularStd-Book.eot');
  src:
    url('../assets/fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/CircularStd-Book.woff') format('woff'),
    url('../assets/fonts/CircularStd-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStdBold';
  src: url('../assets/fonts/CircularStd-Bold.eot');
  src:
    url('../assets/fonts/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/CircularStd-Bold.woff') format('woff'),
    url('../assets/fonts/CircularStd-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStdBlack';
  src: url('../assets/fonts/CircularStd-Black.eot');
  src:
    url('../assets/fonts/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/CircularStd-Black.woff') format('woff'),
    url('../assets/fonts/CircularStd-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  *:not(body),
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font-size: 100%;
    -webkit-font-smoothing: antialiased;
  }

  body {
    height: 100%;
    font-size: 12px;
    font-family: 'CircularStdBook';
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.42em;
    color: #3e3f43;
    margin: 0;
  }

  [v-cloak] {
    display: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal;
    margin: 0px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin: 0;
  }

  a {
    color: #3e3f43;
    font-weight: normal;
    text-decoration: none;
  }

  img {
    width: 100%;
  }
}

@layer utilities {
  .wst {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  .hide-on-mobile {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .highlight {
    color: #8e84d8;
  }

  .show-on-mobile {
    display: none;
    @media (max-width: 768px) {
      display: flex;
    }
  }

  .row {
    margin-left: -10px;
    margin-right: -10px;
    > div[class*='col-'] {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .btn {
    border: 1px solid transparent;
    user-select: none;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #8e84d8;
    background: linear-gradient(to bottom right, #8e84d8, #5f45a3);
    padding: 10px 12px;
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 2px;
    line-height: 1.4em;
    max-width: 100%;
    .fa {
      margin-right: 8px;
    }
    &:hover {
      background: linear-gradient(to bottom right, #5f45a3, #8e84d8);
    }
  }

  .layered-bg {
    position: relative;
    overflow: hidden;
    z-index: 0;
    &:before {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(0, 0, 0, 0.3);
      background: linear-gradient(to bottom right, #002f4b, #ffffff);
      opacity: 0.5;
    }
    &:after {
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0.2;
      background: url('../assets/bg_setup.png') no-repeat center;
      background-repeat: no-repeat;
      background-position: 50% 0;
      -ms-background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
      background-size: cover;
    }
    .content {
      position: relative;
      z-index: 10;
    }
    &:hover {
      &:after {
        transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
        transform: scale(1.2);
      }
    }
  }

  .main-header {
    text-align: center;
    li {
      display: block;
      border-bottom: 1px solid #474747;
      a {
        color: #a5a5a5;
        padding: 13px;
        display: block;
        &.router-link-active {
          color: #8e84d8;
        }
      }
    }
  }

  .main-sidebar {
    .ui-sidebar-content {
      background: linear-gradient(to bottom, #000000, #3d3d3d);
      .logo-con {
        text-align: center;
        padding: 30px;
        img.avatar {
          width: 90px;
        }
      }
      .mid-con {
        flex: 3;
      }
    }
  }

  .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    @media (max-width: 768px) {
      overflow: auto;
    }
    .wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      @media (max-width: 768px) {
        height: auto;
      }
      &.row {
        margin: 0;
        > div[class*='col-'] {
          padding: 0;
        }
        .padded {
          padding: 20px;
        }
      }
    }
    .lightbox {
      z-index: 30;
    }
    .lightbox__image img {
      width: auto;
      height: auto !important;
      max-width: 100%;
      max-height: calc(100vh - 140px);
    }
    .box-con {
      min-height: 100px;
      box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.2);
      position: relative;
      overflow: hidden;
      h3,
      h4 {
        font-family: 'CircularStdBold';
        font-size: 16px;
        padding-bottom: 20px;
        i {
          margin-right: 8px;
        }
      }
      h4 {
        font-size: 13px;
        padding-bottom: 8px;
      }
      ul.normal-list {
        margin-bottom: 15px;
        list-style-type: circle;
        padding-left: 6px;
        li {
          margin-left: 10px;
          margin-bottom: 5px;
          display: list-item;
        }
      }
    }
  }

  ul.timeline {
    margin: 0;
    list-style: none;
    position: relative;
    padding-left: 55px;
    font-size: 13px;
    margin-bottom: 20px;
    &:before {
      content: '';
      width: 1px;
      height: 100%;
      position: absolute;
      border-left: 1px dashed #c0c0c0;
    }
    li {
      position: relative;
      background-color: rgba(255, 255, 255, 0.2);
      padding: 0px 14px;
      width: 100%;
      &:not(:first-child) {
        margin-top: 32px;
      }
      > span {
        width: 1px;
        height: 100%;
        background: #c0c0c0;
        left: 0;
        top: 0;
        position: absolute;
        &:before,
        &:after {
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          border: 3px solid #fff;
          position: absolute;
          background: #8e84d8;
          left: -5px;
          top: 0;
        }
      }
      span:after {
        top: 100%;
        > div {
          margin-left: 10px;
        }
      }
      span.timestamp {
        height: 100%;
        span {
          position: absolute;
          font-size: 10px;
          left: -55px;
          margin-top: -3px;
          &:first-child {
            top: 0;
          }
          &:last-child {
            top: 100%;
          }
        }
      }
      div.content {
        box-shadow:
          0 0 4px rgba(0, 0, 0, 0.12),
          0 2px 2px rgba(0, 0, 0, 0.08);
        width: 100%;
        height: 100%;
        padding: 20px;
      }
    }
  }

  h3.no-content {
    text-align: center;
    padding: 20px 0;
  }
}
