.main {
  .toggler-con {
    position: absolute;
    padding: 15px;
  }
  &.row {
    flex-wrap: nowrap;
    align-items: flex-start;
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
    > div[class*='col-'] {
      padding: 15px;
      &.no-pad {
        padding: 0px;
      }
    }
  }
  .main-con {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
    > div {
      &.np {
        padding: 0px;
      }
    }
    div.padded {
      margin-left: 0;
      margin-right: 0;
    }
    @media (max-width: 768px) {
      width: 100%;
      flex-basis: 100%;
      flex: 0 0 auto;
      height: 100%;
      min-height: 100vh;
    }
  }
}
